<h2>My Heroes</h2>
<ul class="heroes">
    <!--lista os herois e quando clicado fica de cor diferente -->
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
        
<!-- verifica se selectdHero eh null, se nao for null executa o codigo -->
<div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
    <label>nome:
        <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
    </div>    
</div>